@model Melee.Me.Models.MeleeModel

@using LinqToTwitter
@{
    ViewBag.Title = "SocialSignInConfirmation";
    Layout = "~/Views/Shared/_subLayout.cshtml";
}
<div class="row">
	<h1 class="super-big">Prepare to Melee</h1>
</div>
<div class="row">
    <div class="btn-group-vertical btn-group-lg col-md-4 col-md-offset-4">
        <button type="submit" name="RandomBtn" id="RandomBtn" value="RandomBtn" title="Random Melee">Random</button>
        <button type="submit" name="Melee" id="Melee" value="Melee" title="Melee">Melee</button>
        <button type="submit" name="ChallengeBtn" id="ChallengeBtn" value="ChallengeBtn" title="Melee Challenge">Challenge</button>
    </div>
</div>

<div class="row" id="friendList">
    

</div>

<div class="row">
	<div class="battleField col-md-12">
	    <div id="userContainer" class="user-container col-md-4">
	        <a href="@Url.Action("MyProfile", "Home", new { twitterUserId = @Model.Challenger.TwitterUserId })">
	            <img id="challengerImageUrl" src=@Model.Challenger.ImageUrl class="img-thumbnail" alt="your twitter icon"/>
	        </a>
	        <div id="challengerScreenName">@Model.Challenger.ScreenName</div>
	    </div>
	    <div id="userMeleeSummary"></div>

	    <div class="col-md-4 call-out">VS.</div>
	
	    <div id="competitorContainer" class="competitor-container col-md-4">
	        <img id="competitorImageUrl" src=@Model.Competitor.ImageUrl class="img-thumbnail" alt="twitter icon"/>
	        <div id="competitorScreenName">@Model.Competitor.ScreenName</div>
	        <div id="competitorUserId" style="visibility: hidden">@Model.Competitor.TwitterUserId</div>
	    </div>
	    <div id="competitorMeleeSummary"></div>

	</div>
</div>
<section class="melee-area">
    <div class="container">
        <div class="row">
	        <div id="meleeProgress" class="col-md-12"></div>
        </div>
        <div class="row">
            <div id="progressError" class="error col-md-12"></div>
        </div>
   </div>
</section>
<script>
    $('#RandomBtn').click(function () {
        $("#meleeProgress").empty();
        $('#Melee').show();
        
        $.ajax({
            url: '/Home/GetNewCompetitor',
            type: 'POST',
            data: { twitterUserId: '@Model.Challenger.TwitterUserId' },
            success: function (result) {
                $('#competitorImageUrl').attr("src", result.ImageUrl);
                $('#competitorScreenName').html(result.ScreenName);
                $('#competitorMeleeTotal').html("Melee's: " + (result.Stats.BattleWins + result.Stats.BattleLosses));
                $('#competitorMeleeWins').html("Wins: " + result.Stats.BattleWins);
                $('#competitorMeleeLosses').html("Losses: " + result.Stats.BattleLosses);
                $('#competitorUserId').html(result.TwitterUserId);
            },
            error: function (jqXHR, exception) {
                if (jqXHR.status === 0) {
                    window.location.href = "~/Views/Shared/Error";
                }
            },
            complete: function () {
                $('#spinnerBank').hide();
            }
        });

        return false;
    });

    $('#ChallengeBtn').click(function () {
        $("#friendList").empty();

        $.ajax({
            url: '/Home/Challenge',
            type: 'POST',
            data: { twitterUserId: '@Model.Challenger.TwitterUserId' },
            success: function (result) {
                $('#myList').listnav({prefixes: ['@']});

                jQuery.each(result, function () {
                    $('#friendList').append('<div id="myList-nav" class="listNav"></div>' +
                        '<ul id="myList">' +
                            '<li>' +
                                '<a href="">' + this.Identifier.ScreenName +
                                '<img src="' + this.ProfileImageUrl + '"/>' + '</a>' +
                            '</li>' +
                        '</ul>');
                });
            },
            error: function (jqXhr, exception) {
                if (jqXhr.status === 0) {
                    window.location.href = "~/Views/Shared/Error";
                }
            },
            complete: function () {
                $('#spinnerBank').hide();
            }
        });

        return false;
    });

    $(function () {
        $('#Melee').hide();
        
        
        // Declare a proxy to reference the hub. 
        var chat = $.connection.meleeHub;
        // Create a function that the hub can call to broadcast messages.
        chat.client.broadcastMessage = function (statusUpdate) {
            // Add the message to the page. 
            $('#meleeProgress').append('<div class="row">' + statusUpdate + '</div>');
        };
        
        chat.client.broadcastUserScore = function (statusUpdate) {
            // Add the message to the page. 
            $('#userMeleeSummary').append(statusUpdate);
        };
        
        chat.client.broadcastCompetitorScore = function (statusUpdate) {
            // Add the message to the page. 
            $('#competitorMeleeSummary').append(statusUpdate);
        };
        
        chat.client.catchException = function (errMessage) {
            // Add the exception message to the page. 
            $('#progressError').append('<div class="row">' + errMessage + '</div>');
        };


        // Start the connection.
        $.connection.hub.start().done(function () {
            $('#Melee').click(function () {
                $("#meleeProgress").empty();
                // Call the Send method on the hub. 
                chat.server.send('@Model.Challenger.TwitterUserId', $('#competitorUserId').text());
            });
        });
    });


</script>
