<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Melee.Me</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
                @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

    </head>
    <body>
        <header>
            <div>
                <div class="logo">
                    <p class="site-title">@Html.ActionLink("MeleeMe logo", "Index", "Home")</p>
                </div>
                <div class="main-nav">
                    <ul class="nav nav-tabs">
                        @{
                            if (Context.User.Identity.IsAuthenticated)
                            {
                                <li>@Html.ActionLink("Melee", "ExternalLogin", "Home")</li>
                            }
                            else
                            {
                                <button type="submit">@Html.ActionLink("Enter", "ExternalLogin", "Home")</button>
                            }
                        }
                        @{
                            if (Context.User.Identity.IsAuthenticated) { 
                                <li class="nav navbar-right">@Html.ActionLink("Profile", "MyProfile", "Home")</li>
                                <li class="nav navbar-right">@Html.ActionLink("History", "History", "Home")</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - L9 & big time collaboration</p>
                </div>
            </div>
        </footer>
    </body>
</html>
