@model Melee.Me.Models.UserModel

@{
    ViewBag.Title = "Connections";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Connections</h2>
<div id="facebookContainer">
    <h3>Facebook</h3>
    @Html.ActionLink("Add", "Facebook", "Connections")
    @Html.ActionLink("Remove", "Facebook", "Connections")
</div>
<div id="googleContainer">
    <h3>Google</h3>
    @Html.ActionLink("Add", "ExternalLogin", "Home")
    @Html.ActionLink("Remove", "ExternalLogin", "Home")
</div>
<div id="fourSquareContainer">
    <h3>Four Square</h3>
    @Html.ActionLink("Add", "ExternalLogin", "Home")
    @Html.ActionLink("Remove", "ExternalLogin", "Home")
</div>
